:root{
    --hover: #04041b;
    --numero: #04041b;
    --card: #ffff;
    --gris: #484848;
}
.CardBox {
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}

.CardBox .card {
    position: relative;
    background: var(--card);
    padding: 30px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}

.CardBox .card .numbers {
    position: relative;
    font-weight: 500;
    font-size: 2.5rem;
    color: var(--blue);
}

.CardBox .card .cardName {
    color: var(--gris);
    font-size: 1.1rem;
    margin-top: 5px;
    font-weight: 600;
    text-transform:capitalize;
}

.CardBox .card .iconBx {
    font-size: 3.5rem;
    color: var(--numero);
}

.CardBox .card:hover {
    background: var(--blue);
}
.CardBox .card:hover .numbers,
.CardBox .card:hover .cardName,
.CardBox .card:hover .iconBx {
    background-color: var(--hover);
    color: var(--card);
}